<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yhis Yoo! - 文章</title>
    <link rel="icon" type="image/x-icon" href="./static/img/icon/web.ico" />
    <link rel="stylesheet" href="/static/css/common/navbar.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <script src="/static/js/common/jquery.js"></script>
    <script src="/static/js/common/jquery.cookie.js"></script>
    <script src="/static/js/common/myajax.js"></script>
    <script src="/static/js/article.js"></script>
</head>

<body>
    <!-- 导航 -->
    <div class="header">
        <a class="logo-bar" href="/">
            <div class="header-logo"><img src="./static/img/portrait/20190608163754.jpg" alt="">
                <h1>yhis Yoo!</h1>
            </div>
        </a>
        <div class="header-nav">
            <ul class="nav-bar">
                <li><a href="articles">文档</a></li>
                <li><a href="tips">随笔</a></li>
                <li><a href="time">时间</a></li>
                <li><a href="about">关于</a></li>
            </ul>
        </div>
    </div>

    <!-- 文章 -->
    <div class="main">
        <!-- 文章标题 -->
        <div class="mian-header">
            <div class="header-title"></div>
            <div class="header-tag"><span class="tag-time"></span> <span class="tag-type"></span></div>
            <hr class="">
        </div>
        <!-- 文章内容 -->
        <div class="main-article">
        </div>
        <hr>
        <div class="page">
            <div class="prev-page "><img src="./static/img/icon/previous-1.png" alt="">&nbsp;&nbsp;<a href="javascript:void(0);"></a></div>
            <div class="next-page"><a aria-disabled="false" href="javascript:void(0);"></a>&nbsp;&nbsp;<img src="./static/img/icon/next-1.png" alt=""></div>
        </div>
        <hr>
    </div>

</body>

</html>