<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yhis Yoo!</title>
    <link rel="icon" type="image/x-icon" href="./static/img/icon/web.ico" />
    <link rel="stylesheet" href="/static/css/common/navbar.css">
    <link rel="stylesheet" href="/static/css/first.css">
    <script src="/static/js/common/jquery.js"></script>
    <script src="/static/js/common/jquery.cookie.js"></script>
    <script src="/static/js/common/myajax.js"></script>
    <script src="/static/js/first.js"></script>
</head>

<body>
    <div class="header">
        <a class="logo-bar" href="javascript:void(0)">
            <div class="header-logo"><img src="./static/img/portrait/20190608163754.jpg" alt="">
                <h1>yhis Yoo!</h1>
            </div>
        </a>
        <div class="header-nav">
            <ul class="nav-bar">
                <li><a href="articles">文档</a></li>
                <li><a href="tips">随笔</a></li>
                <li><a href="time">时间线</a></li>
                <li><a href="about">关于我</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main-explain">
            <h1>欢迎来到<a href="about"> yhis Yoo! </a>的个人空间！</h1>
            <p>It's never enough in the moment,no matter who I go home with.</p>
        </div>
        <div class="main-cards">
            <ul class="cards-bar">
                <li class="cards">
                    <div class="card-img"><img src="./static/img/icon/record.png" alt="">
                    </div>
                    <p>文档</p>
                    <div class="card-about">yhis Yoo!跳坑的一些心得体会，还有他在别处搜刮来的干货。以及他对某些技术难点的解决方法。</div>
                    <a href="articles">查看详情</a>
                </li>
                <li class="cards">
                    <div class="card-img"><img src="./static/img/icon/document3.png" alt=""></div>
                    <p>随笔</p>
                    <div class="card-about">yhis Yoo!偶尔忘记的一些知识点，对于生活质量的提高没有什么明显的帮助。还有他灵光一现然并卵的想法。</div>
                    <a href="tips">查看详情</a>
                </li>
                <li class="cards">
                    <div class="card-img"><img src="./static/img/icon/time1.png" alt=""></div>
                    <p>时间线</p>
                    <div class="card-about">yhis Yoo!从创建自己的空间开始发布的文档和随笔你都可以通过时间线找到。当然还有分类。</div>
                    <a href="time">查看详情</a>
                </li>
                <li class="cards">
                    <div class="card-img"><img src="./static/img/icon/me.png" alt=""></div>
                    <p>关于我</p>
                    <div class="card-about">关于hyis Yoo!的个人介绍及生活经历。以及他强烈安利你们的他感兴趣的事物。</div>
                    <a href="about">查看详情</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>