<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hyis Yoo! - 时间</title>
    <link rel="icon" type="image/x-icon" href="./static/img/icon/web.ico" />
    <link rel="stylesheet" href="/static/css/common/navbar.css">
    <link rel="stylesheet" href="/static/css/time.css">
    <script src="/static/js/common/jquery.js"></script>
    <script src="/static/js/common/jquery.cookie.js"></script>
    <script src="/static/js/common/myajax.js"></script>
    <script src="/static/js/time.js"></script>
</head>

<body>
    <div class="header">
        <a class="logo-bar" href="/">
            <div class="header-logo"><img src="./static/img/portrait/20190608163754.jpg" alt="">
                <h1>yhis Yoo!</h1>
            </div>
        </a>
        <div class="header-nav">
            <ul class="nav-bar">
                <li><a href="articles">文档</a></li>
                <li><a href="tips">随笔</a></li>
                <li><a href="javascript:void(0)">时间</a></li>
                <li><a href="about">关于</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="time-box">
            <span class="time-note"></span>
            <div class="nowBox-time">1998 1220 3365</div>
            <div class="time-items">
                <div class="items-box">
                    <div class="items-note"></div>
                    <div class="items-line"></div>
                    <div class="items-content">
                        <div class="items-title">biaoti</div>
                    </div>
                </div>
                <div class="items-box">
                        <div class="items-note"></div>
                        <div class="items-line"></div>
                        <div class="items-content">
                            <div class="items-title">biaoti</div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="time-box">
                <span class="time-note"></span>
                <div class="nowBox-time">1998 1220 3365</div>
                <div class="time-items">
                    <div class="items-box">
                        <div class="items-note"></div>
                        <div class="items-line"></div>
                        <div class="items-content">
                            <div class="items-title">biaoti</div>
                        </div>
                    </div>
                    <div class="items-box">
                            <div class="items-note"></div>
                            <div class="items-line"></div>
                            <div class="items-content">
                                <div class="items-title">biaoti</div>
                            </div>
                        </div>
                        <div class="items-box">
                                <div class="items-note"></div>
                                <div class="items-line"></div>
                                <div class="items-content">
                                    <div class="items-title">biaoti</div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="time-box">
                    <span class="time-note"></span>
                    <div class="nowBox-time">1998 1220 3365</div>
                    <div class="time-items">
                        <div class="items-box">
                            <div class="items-note"></div>
                            <div class="items-line"></div>
                            <div class="items-content">
                                <div class="items-title">biaoti</div>
                            </div>
                        </div>
                        <div class="items-box">
                                <div class="items-note"></div>
                                <div class="items-line"></div>
                                <div class="items-content">
                                    <div class="items-title">biaoti</div>
                                </div>
                            </div>
                            <div class="items-box">
                                    <div class="items-note"></div>
                                    <div class="items-line"></div>
                                    <div class="items-content">
                                        <div class="items-title">biaoti</div>
                                    </div>
                                </div>
                                <div class="items-box">
                                        <div class="items-note"></div>
                                        <div class="items-line"></div>
                                        <div class="items-content">
                                            <div class="items-title">biaoti</div>
                                        </div>
                                    </div>
                    </div>
                    
                </div>
                
    </div>
</body>
<!-- <script id="tips" type="text/x-jsrender">
  <div data-sjsel={{:type_id}} class="cars">
      <h1>{{:title}}</h1>
      <div><span>{{:type_name}}</span>{{:content}}</div>
    </div>
</script> -->

</html>